*{margin: 0px; padding: 0px;}
li{list-style: none;}
#wrap{
    width: 700px;
    margin: 0 auto;
    
}



#header > img{
    width: 100%;
}

ul{
    display:flex;
    justify-content: space-around;
}

ul>.selectMenu{
    font-weight: bold;
    color: red;
    text-decoration: underline 2px;
}